<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdminPanelBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Кассир
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="merchvisit">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Merch Visit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orderPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Order Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="merchPlan">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Merch Plan
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="merchPlanCop">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Order Plan
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ReportMerchPlan">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Report Merch Plan 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dailyCheckoutReportKassa">
                <span class="oi oi-list-rich" aria-hidden="true"></span>DaylyReportKassa
            </NavLink>
        </div>
   </nav>
</div>

@code {
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
