<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<authentication mode="Forms">
			<forms loginUrl="member_login.aspx"
				   cookieless="UseCookies"
					requireSSL="false"
				   path="/MyApplication" />
		</authentication>
		<system.webServer>
			
		</system.webServer>
		<system.web>
			<httpCookies httpOnlyCookies="true" requireSSL="false" />
		</system.web>
	</location>
</configuration>